{% extends "inicio/index.html" %}
{% load static %}
{% block title_head %}
Buscador de equipos
{% endblock title_head %}

{% block h1_header %}Buscador de equipos{% endblock h1_header %}

{% block main %}

<a href={% url "inicio:crear_equipo" %}>Crear equipo</a>
        
<form action={% url "inicio:equipo" %}>

    {{form}}

    <input type="submit" value="Buscar">

</form>

{% if equipos %}

    <ul>
        {% for equipo in equipos %}
        <li>
            <a href={% url "inicio:listado_equipos" equipo.id%}>{{equipo}}</a>
            <a href={% url "inicio:editar_equipo" equipo.id%}>Editar</a>
            <a href={% url "inicio:eliminar_equipo" equipo.id%}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>

{% else %}

    <p>No existen equipos aun</p>

{% endif %}

{% endblock main %}