{% extends "base.html" %}
{% load static %}
{% block title_head %}
Ver equipos
{% endblock title_head %}

{% block h1_header %}Ver equipos{% endblock h1_header %}

{% block main %}

<button><a href={% url "inicio:crear_equipo" %}>Agregar Equipos</a></button>
{% if equipos %}
<ul>
    {% for equipo in equipos %}
    <li>{{equipo}}
        <a href={% url "inicio:ver_equipo" equipo.pk %}>Ver Mas</a>
        <a href={% url "inicio:editar_equipo" equipo.pk %}>Editar</a>
        <a href={% url "inicio:eliminar_equipo" equipo.pk %}>Eliminar</a>
    <p>-----------------------------------------------</p>
    </li>
    {% endfor %}
</ul>
{% else %}

    <p>No existen equipos aun</p>

{% endif %}
{% endblock main %}